body, html {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    height: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#main_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    min-height: 100vh;
}

#page_head {
    width: 100%;
    box-shadow: 0px 2px 5px;
    background-color: #D5224D;
    display: flex;
    padding: 10px 0px;
    margin: 0 auto;
    overflow: hidden;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
}

#my_name {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
}

#main_menu {
    list-style-type: none;
    display: inline;
    position: sticky;
    left: 90%;
    text-decoration: none;
    padding-top: 5px;
}

.menu_link {
    text-decoration: none;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-right: 20px;
}

.menu_link:hover {
    transition: all 150ms linear;
    color: #fff200;
}

.page_footer {
    margin-top: auto;
    overflow: hidden;
    color: #ffffff;
    background-color:  #D5224D ;
}

#content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.content_head {
    padding: 10px 25px;
    box-shadow: 1px 2px 5px (0,0,0,0.3);
}

.content_container {
    margin: 10px 10px 30px;
    background-color: rgb(223, 231, 213);
    width: calc(80% - 20px);
    border-radius: 7px;
    overflow: hidden;
}

.content_p {
    padding: 5px 5px 5px;
}